<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Register</h1>
    <main>
        <form action="/register" method="post">
            <label for="nameEntry">Name</label>
            <input type="text" name="nameEntry">
            <label for="email">Email</label>
            <input type="email" name="email">
            <label>Password</label>
            <input type="password" name="password">
            
            <button type="submit">Send</button>
        </form>
    </main>
</body>
</html>